lmutil - Copyright (c) 1989-2012 Flexera Software LLC. All Rights Reserved.
Flexible License Manager status on Thu 10/29/2020 17:44
 
License server status: server1,server2,server3
    License file(s) on server1: f:\flexlm\AbaqusLM\License\license.dat:
 
server1: license server UP v11.13
server2: license server UP (MASTER) v11.13
server3: license server UP v11.13

Vendor daemon status (on server2):
  ABAQUSLM: UP v11.13

Feature usage info:

Users of abaqus:  (Total of {{total_licenses}} licenses issued;  Total of {{ jobs | sum(attribute='license_allocations') }} licenses in use)

  "abaqus" v62.2, vendor: ABAQUSLM

  floating license

{% for job in jobs %}
    asakek myserver.example.com /dev/tty (v62.2) (myserver.example.com/24200 12507), start Thu 10/29 8:09, {{job.license_allocations}} licenses
{%- endfor %}


